
body {
    overflow: hidden;
}

#center_guide {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    z-index: 1;
}

#fps_counter {
    position: absolute;
    top: 5px;
    left: 10px;
    color: black;
    z-index: 100;
}

.tile {
    position: absolute;
    width: 64px;
    height: 64px;
    margin-left: -32px;
    margin-top: -16px;
    background-image: url('test_tile2.png');
}